TICKERS=NESN.SW,NOVN.SW,ROG.SW,UHR.SW,ABBN.SW
PERIOD=30d
INTERVAL=1d

# Azure Blob Storage – von: az storage account show-connection-string ...
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=casprojectstorage;AccountKey=XXXX;EndpointSuffix=core.windows.net
BLOB_CONTAINER=raw-prices

# PostgreSQL – von: az postgres flexible-server show ... --query fullyQualifiedDomainName
PG_HOST=cas-postgres-nici.postgres.database.azure.com
PG_DATABASE=prices_db
PG_USER=sqladmin
PG_PASSWORD=DEIN_PASSWORT
